<html>
    <head>
        <title>_vv.kim's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">_vv.kim's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Хоп хей лалалей</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>тарам барам</p>
        </div>
    </body>
</html>
